<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>89955555383-988g7q1j9qgal93e04an247d8af945gl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.89955555383-988g7q1j9qgal93e04an247d8af945gl</string>
	<key>API_KEY</key>
	<string>AIzaSyDvOGwSEOq1tbvdor4zCfmA5fu67wMTYE4</string>
	<key>GCM_SENDER_ID</key>
	<string>89955555383</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseFirestore</string>
	<key>PROJECT_ID</key>
	<string>fir-firestore-a08b2</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-firestore-a08b2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:89955555383:ios:790e233a6f5787a0b607b2</string>
</dict>
</plist>